.container{
  
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 60px;
}

#cubo{
    width: 100px;
    height: 100px;
    
}

#palco{
    perspective: 800px;
}
.face{
    border-radius: 10px;
    width: 100px;
    height: 80px;
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
    position: absolute;
    
}

.frente{
    background-color: rgba(90, 90, 90, 0.7);
    transform: translateZ(50px);
   
}

.costas{
    background-color: rgba(0, 210, 0, 0.7);
    transform: rotateY(180deg) translateZ(50px);
    
}

.direita{
    background-color: rgba(210, 0, 0, 0.7);
    transform: rotateY(90deg) translateZ(50px);
}
.esquerda{
    background-color: rgba(0, 0, 210, 0.7);
    transform: rotateY(-90deg) translateZ(50px);
    
}

.topo{
    background-color: rgba(210, 210, 0, 0.7);
    transform: rotateX(90deg) translateZ(50px);

}


.embaixo{
    background-color: rgba(210, 0, 210, 0.7);
    transform: rotateX(-90deg) translateZ(50px);
    
}

/* Rotação */

#cubo{
    transform-style: preserve-3d;
    animation-name: gira;
    animation-duration: 5s; 
    animation-iteration-count:infinite;
    animation-direction: mormal;
    animation-timing-function: linear;   

}
@keyframes gira{
    to {
        transform: rotate3d(1, 0, 1, 360deg);
    }
}

