body{
    background: #002244;
    perspective: 800px;
    margin: auto 0;
}


.pessoa{
    width: 256px;
    height: 256px;
    background: url(../img/medico.png);
    position: realative;
}


.medico-1:hover{
    transform: rotateX(45deg) rotateY(0) rotateZ(45deg)
}

.medico-2:hover{
    transform: rotate3d(0, 1, 0, 100deg);
}

.nome {
    background: rgba(0,0,0,0.5);
    padding: 4px 0;
    color: white;
    text-align: center;
    font-family: Arial;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .medico-3:hover{
      transform: rotate3d(1, 0, 1, 45deg)
  }