div{
    width: 100px;
    height: 100px;
    border: 2px solid red;

}

.rotaciona{
    transform: rotate(0.3turn);
}

.escala{
    transform: scale(1.2)
}

.estica{
    transform: skew(45deg, 10deg)
    box-shadow: 4px 4px 4px 4px;
}

.move{
    transform: translate(100px 10px)
}