$branco: white;
$fundo: #002244;
$laranja: orange;

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: $fundo;

  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 640px;
    height: 480px;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: white;
      text-align: center;
    }

    button {
      background: $laranja;

      // QUANDO é alguma prop. que se refere ao ELEMENTO pai, usamos o &
      &:hover {
        background: $fundo;
        color: $laranja;
        cursor: pointer;
      }
    }

    p {
      color: $branco;

      &.curso {
        font-size: 24px;
        font-weight: bold;
      }
      &.local{
        font-style: italic;
      }

    }
   
  }
 @import "footer";

}